<section class="single-look-look">
	<h2><%= look.escape("name") %></h2>

</section>

<section class="single-look-products">
	<% look.get("products").models.forEach(function(product){ %>
		<h2><%= product.escape("name") %></h2>

		<ul>
			<li>Type: <%= product.escape("product_type") %></li>
			<li>Price: <%= product.escape("price") %></li>
			<li>Color: <%= product.escape("color") %></li>
			<li>Material: <%= product.escape("material") %></li>
		</ul>
	<% }) %>
</section>